---
layout: default
classes: page-home
---

{{ content }}

<form method="POST" action="https://formspree.io/info@fabbdev.com">
  <div class="input-wrapper">
    <label for="email">Your email</label>
    <input id="email" type="email" name="email" required="required">
  </div>
  <div class="input-wrapper">
    <label for="telephone">Phone number (optional)</label>
    <input id="telephone" type="tel" name="phone">
  </div>
  <div class="textarea-wrapper">
    <label for="message">Your message</label>
    <textarea id="message" name="message" required="required"></textarea>
  </div>
  <div class="button-wrapper">
    <button type="submit">Send</button>
  </div>
</form>
